In [ ]:
#Assignment2

In [ ]:
 #1 area of the rectangle

In [ ]:
height=int (input('enter a number'))
width=int (input('enter a number'))
a=height*width
print(a)

enter a number6
enter a number7
42

In [ ]:

#2 sum, difference,product,quotient

In [ ]:
a=int (input('enter a number'))
b=int (input('enter a number'))
s=a+b
d=a-b
p=a*b
q=a/b
print(s)
print(d)
print(p)
print(q)

enter a number5
enter a number2
7
3
10
2.5

In [ ]:
#3 convert temperature from fahrenheit

In [ ]:
F=float(input('enter a number'))
C=(F-32)*5/9
print(C)

enter a number10
-12.222222222222221

In [ ]:
#4

In [ ]:
num=int(input('enter a number'))
if a>0:
 print('num is positive')
elif a<0:
 print('num is negative')

enter a number52
num is positive

In [ ]:
#5

In [ ]:
y=int(input('enter a number'))
if y%4==0:
  print("it is a leap year")
elif y%4!=0:
  print("it is not a leap year")
elif y%400==0:
  print("it is a leap year")
elif y%400!=0:
  print("it is not a leap year")

enter a number2006
it is not a leap year

In [ ]:
#6

In [ ]:
mark=int(input('enter mark'))
if mark>90:
  print('A')
elif mark>80:
  print('B')
elif mark>70:
  print('C')
elif mark>60:
  print('D')
else:
  print('F')

enter mark20
F

In [ ]:
#7

In [ ]:
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#9

In [ ]:
n=int(input('enter a number'))
for i in range(1,11):
  print(i,'x',n,'=',i*n)

enter a number5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50